<script src="<?=__STATIC__?>/js/nav.js"></script>
<aside class="bg-dark lter aside-md hidden-print" id="nav">
    <section class="vbox">
        <section class="w-f scrollable">
            <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="5px"
                 data-color="#333333">
                <!-- nav -->
                <nav class="nav-primary hidden-xs">
                    <ul class="nav navbg">
                        <li>
                            <a href="{:url('index/newClearance/index')}">
                                <i class="fa fa-edit icon">
                                    <b class="bg-warning"></b>
                                </i>
                                <span>新建报关单</span>
                            </a>
                        </li>
                        <li>
                            <a href="{:url('index/index/index')}">
                                <i class="fa fa-dashboard icon">
                                    <b class="bg-warning"></b>
                                </i>
                                <span>报关单管理</span>
                            </a>
                        </li>
                       <!--  <li role="separator" class="divider"></li> -->
                        <li>
                            <a href="{:url('index/clearance/index')}">
                                <i class="fa fa-cog icon">
                                    <b class="bg-warning"></b>
                                </i>
                                <span>报关设置</span>
                            </a>
                        </li>
                        <li>
                            <a href="{:url('index/home/index')}">
                                <i class="fa fa-user icon">
                                    <b class="bg-warning"></b>
                                </i>
                                <span>个人中心</span>
                            </a>
                        </li>
                        <li>
                            <a href="{:url('index/dataManage/index')}">
                                <i class="fa fa-tasks icon">
                                    <b class="bg-warning"></b>
                                </i>
                                <span>数据维护</span>
                            </a>
                        </li>
                        <li>
                            <a href="{:url('index/account/index')}">
                                <i class="fa fa-users icon">
                                    <b class="bg-warning"></b>
                                </i>
                                <span>账号管理</span>
                            </a>
                        </li>
                        <li>
                            <a href="{:url('index/params_manage/index')}">
                                <i class="fa fa-list icon">
                                    <b class="bg-warning"></b>
                                </i>
                                <span>参数库管理</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- / nav -->
            </div>
        </section>
        
        <footer class="footer hidden-xs b-t b-blue">
            <a href="#nav" data-toggle="class:nav-xs" class="pull-right btn btn-sm btn-blue btn-icon">
                <i class="fa fa-angle-left text"></i>
                <i class="fa fa-angle-right text-active"></i>
            </a>
        </footer>
    </section>
</aside>
