<!-- 兼容IE -->
<!--[if lt IE 9]>
<script src="<?=__STATIC__?>/js/ie/html5shiv.js"></script>
<script src="<?=__STATIC__?>/js/ie/respond.min.js"></script>
<script src="<?=__STATIC__?>/js/ie/excanvas.js"></script>
<![endif]-->
<script src="<?=__STATIC__?>/js/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="<?=__STATIC__?>/js/bootstrap.js"></script>
<!-- jqGrid -->
<script src="<?=__STATIC__?>/js/jqgrid/i18n/grid.locale-cn.js"></script>
<script src="<?=__STATIC__?>/js/jqgrid/jquery.jqGrid.js"></script>
<!-- slimscroll -->
<script src="<?=__STATIC__?>/js/slimscroll/jquery.slimscroll.min.js"></script>
<!-- layer -->
<script src="<?=__STATIC__?>/js/layer/layer.js"></script>
<!-- select2 -->
<script src="<?=__STATIC__?>/js/select2/select2.min.js"></script>
<!-- App -->
<script src="<?=__STATIC__?>/js/function.js"></script>
<script src="<?=__STATIC__?>/js/app.js"></script>
<script src="<?=__STATIC__?>/js/app.plugin.js"></script>


